In [ ]:
import pandas as pd
import numpy as np
import pandasql as psql

import matplotlib.pyplot as plt

## Read the data

In [ ]:
db = pd.read_csv("db.csv")

In [ ]:
db

## Basic queries

**[EXAMPLE]** Grep all rows and all columns

In [ ]:
q = """
SELECT
    *
FROM db
"""

print(psql.sqldf(q))

**[EXAMPLE]** Grep all `user_id` and `order_id` pairs

In [ ]:
q = """
SELECT
    user_id,
    order_id
FROM db
"""

print(psql.sqldf(q))

**[EXAMPLE]** Grep 100 `order_ids`

In [ ]:
q = """
SELECT
    order_id
FROM db
LIMIT 100
"""

print(psql.sqldf(q))

**[EXAMPLE]** Grep `dts` and `order_ids` that were on Sep 13th

In [ ]:
q = """
SELECT
    dt,
    order_id
FROM db
WHERE dt == "2022-09-13"
"""

print(psql.sqldf(q))

**[EXAMPLE]** Grep `dttms` and `order_ids` that were on Sep 13th before **9 AM**. 

**Order** the input by date and time

In [ ]:
q = """
SELECT
    dttm,
    order_id
FROM db
WHERE 
    dt == "2022-09-13"
    AND dttm <= "2022-09-13 08:59:59"
ORDER BY dttm
"""

print(psql.sqldf(q))

## Aggregations

**[EXAMPLE]** Count rows in the table

In [ ]:
q = """
SELECT
    COUNT(*)
FROM db
"""

print(psql.sqldf(q))

**[EXAMPLE]** Count number of distinct users

In [ ]:
q = """
SELECT
    COUNT(DISTINCT user_id)
FROM db
"""

print(psql.sqldf(q))

**[EXAMPLE]** Count number of orders with non-empty cards

In [ ]:
q = """
SELECT
    COUNT(card_id)
FROM db
"""

print(psql.sqldf(q))

**[TASK 1]** Find rate of orders that were payed by card

In [ ]:
q = """
"""

print(psql.sqldf(q))

**[TASK 2]** Find the largest order cost

In [ ]:
q = """
"""

print(psql.sqldf(q))

**[TASK 3]** Find number of percents by which the most expensive order is bigger than average order. Round to 2 digits afer the comma

In [ ]:
q = """
"""

print(psql.sqldf(q))

**[TASK 4]** Count number of users that have made an order with amount larger then 400

In [ ]:
q = """
"""

print(psql.sqldf(q))

**[TASK 5]** Find sum of all orders payed by card

In [ ]:
q = """
"""

print(psql.sqldf(q))

## GROUP BY and SUBQUERIES

**[EXAMPLE]** Get number of orders per each user. Sort the output by the number of orders descending

In [ ]:
q = """
SELECT
    user_id,
    COUNT(order_id) AS orders_cnt
FROM db
GROUP BY user_id
ORDER BY orders_cnt DESC
"""

print(psql.sqldf(q))

**[EXAMPLE]** Find user_ids that have spent more than 1000 amnt

In [ ]:
q = """
SELECT
    user_id
FROM db
GROUP BY user_id
HAVING SUM(amount) > 1000
"""

print(psql.sqldf(q))

**[EXAMPLE]** Lets call a user lifetime  a difference in days between first order and last order. Find all users lifetimes and sort by them in a descending order

In [ ]:
q = """
SELECT
    user_id,
    CAST(strftime("%d", MAX(dt)) AS Int32) - CAST(strftime("%d", MIN(dt)) AS Int32) AS diff
FROM db
GROUP BY user_id
ORDER BY diff DESC
"""

print(psql.sqldf(q))

**[TASK 6]** Calculate average user lifetime

In [ ]:
q = """
"""

print(psql.sqldf(q))

## Join

**[EXAMPLE]** Let's consider user to be loyal, if they made at least 5 orders. Output all orders of loyal users.

In [ ]:
q = """
SELECT
    order_id,
    user_id
FROM db AS t1
INNER JOIN (
    SELECT
        user_id
    FROM db
    GROUP BY user_id
    HAVING COUNT(*) >= 3
) AS t USING(user_id)
"""

print(psql.sqldf(q))

**[TASK 7]** Find orders of users that have both card and cardless orders

In [ ]:
q = """
"""

print(psql.sqldf(q))

**[TASK 8]** For each order display its absolute diff between its amount and min amount of the user

In [ ]:
q = """
"""

print(psql.sqldf(q))

**[TASK 9]** For each user find chronologically first order_id

In [ ]:
q = """
"""

print(psql.sqldf(q))

## Window functions

**[EXAMPLE]** For each order display its number for the user

In [ ]:
q = """
SELECT
    order_id,
    user_id,
    dttm,
    ROW_NUMBER() OVER w AS order_rank
FROM db
WINDOW w AS (PARTITION BY user_id ORDER BY dttm)
LIMIT 5
"""

print(psql.sqldf(q))

**[EXAMPLE]** For each order display running total amount per user

In [ ]:
q = """
SELECT
    order_id,
    user_id,
    dttm,
    amount,
    SUM(amount) OVER w AS run_amount
FROM db
WINDOW w AS (PARTITION BY user_id ORDER BY dttm)
LIMIT 5
"""

print(psql.sqldf(q))

**[TASK]** For each order display if it is more expensive than previous one (function `LAG`, `LEAD`)

In [ ]:
q = """
"""

print(psql.sqldf(q))

**[TASK 10]** For each order display if it is the last order

In [ ]:
q = """
"""

print(psql.sqldf(q))

**[TASK 11]** For each order user display the first order

In [ ]:
q = """
"""

print(psql.sqldf(q))

**[TASK 12]** Display all users who had orders on two consecutive days

In [ ]:
q = """
"""

print(psql.sqldf(q))

**[TASK 13]** Find all orders of users who never decreased amounts of orders (each order is more expensive or equal to the previous one)

In [ ]:
q = """
"""
print(psql.sqldf(q))